dependency-reduced-pom.xml
/.cache
target
*.log
*~
*.pyc
bin
/*.json
/*.png
/*.log
/*.gz
*.iml
*.p12
.idea
/reports/
/assets/out/
.meghanada

# doc build artifacts
bower_components
node_modules
output
/docs/_site/

# gradle
build/
out/
gradle-app.setting
.gradle
