<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
    <Console name="primary" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
  </Appenders> 
  <Loggers>
    <Logger name="com.spotify.heroic" level="INFO" additivity="false">
      <AppenderRef ref="primary" />
    </Logger>
    <Logger name="org.elasticsearch" level="INFO" additivity="false">
      <AppenderRef ref="primary" />
    </Logger>
    <Root level="WARN">
      <AppenderRef ref="primary" />
    </Root>
  </Loggers>
</Configuration>