<?xml version="1.0" encoding="UTF-8"?>
<Configuration shutdownHook="disable">
  <Appenders>
    <Console name="primary" target="SYSTEM_OUT">
      <PatternLayout alwaysWriteExceptions="false" pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n%throwable{full}"/>
    </Console>
  </Appenders>
  <Loggers>
    <Logger name="org.eclipse.jetty" level="INFO"/>

    <Root level="DEBUG">
      <AppenderRef ref="primary" />
    </Root>
  </Loggers>
</Configuration>
