Source: heroic
Section: net
Priority: extra
Maintainer: IO <io@spotify.com>
Build-Depends:
 debhelper,
 default-jdk,
 maven3
Standards-Version: 3.9.1

Package: heroic
Architecture: all
Depends: java-runtime
Description: Time series database
 Heroic is a time series database that stores numeric values along
 with key/value tags to Cassandra data store.
