#!/usr/bin/make -f

MAVEN_HOME=debian/maven_home
JAVA_HOME=/usr/lib/jvm/default-java
MVN=mvn3 -D maven.test.skip=true -D user.home=$(MAVEN_HOME) -s debian/settings.xml

%:
	dh $@

override_dh_auto_clean:
	rm -rf build
	rm -rf $(MAVEN_HOME)
	$(MVN) clean

override_dh_auto_build:
	$(MVN) -Ddeb.skip=true package
	mv target/heroic-0.0.1-SNAPSHOT.jar target/heroic.jar
